<div>
  <h2 id="page-heading" data-cy="RecruiterHeading">
    <span jhiTranslate="hrSolutionApp.recruiter.home.title">Recruiters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hrSolutionApp.recruiter.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recruiter"
        [routerLink]="['/recruiter/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hrSolutionApp.recruiter.home.createLabel">Create a new Recruiter</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (recruiters?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="hrSolutionApp.recruiter.home.notFound">No Recruiters found</span>
    </div>
  }

  @if (recruiters && recruiters.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profileImage">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.profileImage">Profile Image</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="role">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.role">Role</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="label">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.label">Label</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="linkedinUrl">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.linkedinUrl">Linkedin Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="approvedExperience">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.approvedExperience">Approved Experience</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="score">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.score">Score</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="relatedUser.login">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.relatedUser">Related User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="wallet.balance">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.wallet">Wallet</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="applications.title">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.applications">Applications</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="operationalDomain.name">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.recruiter.operationalDomain">Operational Domain</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (recruiter of recruiters; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/recruiter', recruiter.id, 'view']">{{ recruiter.id }}</a>
              </td>
              <td>{{ recruiter.firstName }}</td>
              <td>{{ recruiter.lastName }}</td>
              <td>
                @if (recruiter.profileImage) {
                  <a (click)="openFile(recruiter.profileImage, recruiter.profileImageContentType)">
                    <img
                      [src]="'data:' + recruiter.profileImageContentType + ';base64,' + recruiter.profileImage"
                      style="max-height: 30px"
                      alt="recruiter"
                    />
                  </a>
                  <span>{{ recruiter.profileImageContentType }}, {{ byteSize(recruiter.profileImage) }}</span>
                }
              </td>
              <td>{{ recruiter.address }}</td>
              <td [jhiTranslate]="'hrSolutionApp.UserRole.' + (recruiter.role ?? 'null')">
                {{ { null: '', ADMIN: 'ADMIN', RECRUITER: 'RECRUITER', EMPLOYER: 'EMPLOYER' }[recruiter.role ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'hrSolutionApp.UserStatus.' + (recruiter.status ?? 'null')">
                {{ { null: '', ACTIVE: 'ACTIVE', DEACTIVATED: 'DEACTIVATED', BANNED: 'BANNED' }[recruiter.status ?? 'null'] }}
              </td>
              <td>{{ recruiter.name }}</td>
              <td>{{ recruiter.label }}</td>
              <td>{{ recruiter.linkedinUrl }}</td>
              <td>{{ recruiter.approvedExperience }}</td>
              <td>{{ recruiter.score }}</td>
              <td>
                {{ recruiter.relatedUser?.login }}
              </td>
              <td>
                @if (recruiter.wallet) {
                  <div>
                    <a [routerLink]="['/wallet', recruiter.wallet.id, 'view']">{{ recruiter.wallet.balance }}</a>
                  </div>
                }
              </td>
              <td>
                @for (applications of recruiter.applications; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/application', applications.id, 'view']">{{ applications.title }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td>
                @for (operationalDomain of recruiter.operationalDomains; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/domain', operationalDomain.id, 'view']">{{ operationalDomain.name }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/recruiter', recruiter.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/recruiter', recruiter.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(recruiter)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
