<div>
  <h2 id="page-heading" data-cy="TechCVHardSkillsHeading">
    <span jhiTranslate="hrSolutionApp.techCVHardSkills.home.title">Tech CV Hard Skills</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hrSolutionApp.techCVHardSkills.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tech-cv-hard-skills"
        [routerLink]="['/tech-cv-hard-skills/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hrSolutionApp.techCVHardSkills.home.createLabel">Create a new Tech CV Hard Skills</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (techCVHardSkills?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="hrSolutionApp.techCVHardSkills.home.notFound">No Tech CV Hard Skills found</span>
    </div>
  }

  @if (techCVHardSkills && techCVHardSkills.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="skills">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.techCVHardSkills.skills">Skills</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="technicalCV.id">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.techCVHardSkills.technicalCV">Technical CV</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (techCVHardSkills of techCVHardSkills; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tech-cv-hard-skills', techCVHardSkills.id, 'view']">{{ techCVHardSkills.id }}</a>
              </td>
              <td>{{ techCVHardSkills.skills }}</td>
              <td>
                @if (techCVHardSkills.technicalCV) {
                  <div>
                    <a [routerLink]="['/technical-cv', techCVHardSkills.technicalCV.id, 'view']">{{ techCVHardSkills.technicalCV.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/tech-cv-hard-skills', techCVHardSkills.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/tech-cv-hard-skills', techCVHardSkills.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(techCVHardSkills)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
