<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (appAccountType()) {
      <div>
        <h2 data-cy="appAccountTypeDetailsHeading">
          <span jhiTranslate="hrSolutionApp.appAccountType.detail.title">App Account Type</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ appAccountType()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.appAccountType.type">Type</span></dt>
          <dd>
            <span>{{ appAccountType()!.type }}</span>
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.appAccountType.appAccount">App Account</span></dt>
          <dd>
            @for (appAccount of appAccountType()!.appAccounts; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/app-account', appAccount.id, 'view']">{{ appAccount?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/app-account-type', appAccountType()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
