<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-custom-question-heading"
        data-cy="CustomQuestionCreateUpdateHeading"
        jhiTranslate="hrSolutionApp.customQuestion.home.createOrEditLabel"
      >
        Create or edit a Custom Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="hrSolutionApp.customQuestion.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_question" jhiTranslate="hrSolutionApp.customQuestion.question">Question</label>
          <input type="text" class="form-control" name="question" id="field_question" data-cy="question" formControlName="question" />
          @if (editForm.get('question')!.invalid && (editForm.get('question')!.dirty || editForm.get('question')!.touched)) {
            <div>
              @if (editForm.get('question')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_answer" jhiTranslate="hrSolutionApp.customQuestion.answer">Answer</label>
          <input type="text" class="form-control" name="answer" id="field_answer" data-cy="answer" formControlName="answer" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_correctAnswer" jhiTranslate="hrSolutionApp.customQuestion.correctAnswer"
            >Correct Answer</label
          >
          <input
            type="text"
            class="form-control"
            name="correctAnswer"
            id="field_correctAnswer"
            data-cy="correctAnswer"
            formControlName="correctAnswer"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_appTest" jhiTranslate="hrSolutionApp.customQuestion.appTest">App Test</label>
          <select
            class="form-control"
            id="field_appTest"
            data-cy="appTest"
            name="appTest"
            formControlName="appTest"
            [compareWith]="compareAppTest"
          >
            <option [ngValue]="null"></option>
            @for (appTestOption of appTestsSharedCollection; track $index) {
              <option [ngValue]="appTestOption">{{ appTestOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
