<div>
  <h2 id="page-heading" data-cy="TechnicalCVHeading">
    <span jhiTranslate="hrSolutionApp.technicalCV.home.title">Technical CVS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hrSolutionApp.technicalCV.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-technical-cv"
        [routerLink]="['/technical-cv/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hrSolutionApp.technicalCV.home.createLabel">Create a new Technical CV</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (technicalCVS?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="hrSolutionApp.technicalCV.home.notFound">No Technical CVS found</span>
    </div>
  }

  @if (technicalCVS && technicalCVS.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.technicalCV.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="level">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.technicalCV.level">Level</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profileDescription">
              <div class="d-flex">
                <span jhiTranslate="hrSolutionApp.technicalCV.profileDescription">Profile Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (technicalCV of technicalCVS; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/technical-cv', technicalCV.id, 'view']">{{ technicalCV.id }}</a>
              </td>
              <td>{{ technicalCV.name }}</td>
              <td [jhiTranslate]="'hrSolutionApp.TechCVLevel.' + (technicalCV.level ?? 'null')">
                {{ { null: '', BEGINNER: 'BEGINNER', INTERMEDIATE: 'INTERMEDIATE', EXPERT: 'EXPERT' }[technicalCV.level ?? 'null'] }}
              </td>
              <td>{{ technicalCV.profileDescription }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/technical-cv', technicalCV.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/technical-cv', technicalCV.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(technicalCV)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
