<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tech-cv-education-heading"
        data-cy="TechCVEducationCreateUpdateHeading"
        jhiTranslate="hrSolutionApp.techCVEducation.home.createOrEditLabel"
      >
        Create or edit a Tech CV Education
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="hrSolutionApp.techCVEducation.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_education" jhiTranslate="hrSolutionApp.techCVEducation.education">Education</label>
          <input type="text" class="form-control" name="education" id="field_education" data-cy="education" formControlName="education" />
          @if (editForm.get('education')!.invalid && (editForm.get('education')!.dirty || editForm.get('education')!.touched)) {
            <div>
              @if (editForm.get('education')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_technicalCV" jhiTranslate="hrSolutionApp.techCVEducation.technicalCV">Technical CV</label>
          <select
            class="form-control"
            id="field_technicalCV"
            data-cy="technicalCV"
            name="technicalCV"
            formControlName="technicalCV"
            [compareWith]="compareTechnicalCV"
          >
            <option [ngValue]="null"></option>
            @for (technicalCVOption of technicalCVSSharedCollection; track $index) {
              <option [ngValue]="technicalCVOption">{{ technicalCVOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
