<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nda-heading" data-cy="NDACreateUpdateHeading" jhiTranslate="hrSolutionApp.nDA.home.createOrEditLabel">
        Create or edit a NDA
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="hrSolutionApp.nDA.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_document" jhiTranslate="hrSolutionApp.nDA.document">Document</label>
          <div>
            @if (editForm.get('document')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('document')!.value!, editForm.get('documentContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('documentContentType')!.value }}, {{ byteSize(editForm.get('document')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ document: undefined, documentContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_document"
              data-cy="document"
              (change)="setFileData($event, 'document', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="document" id="field_document" data-cy="document" formControlName="document" />
          <input
            type="hidden"
            class="form-control"
            name="documentContentType"
            id="field_documentContentType"
            formControlName="documentContentType"
          />
          @if (editForm.get('document')!.invalid && (editForm.get('document')!.dirty || editForm.get('document')!.touched)) {
            <div>
              @if (editForm.get('document')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="hrSolutionApp.nDA.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'hrSolutionApp.NDAStatus.null' | translate }}</option>
            @for (nDAStatus of nDAStatusValues; track $index) {
              <option [value]="nDAStatus">{{ 'hrSolutionApp.NDAStatus.' + nDAStatus | translate }}</option>
            }
          </select>
          @if (editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_period" jhiTranslate="hrSolutionApp.nDA.period">Period</label>
          <div class="input-group">
            <input
              id="field_period"
              data-cy="period"
              type="text"
              class="form-control"
              name="period"
              ngbDatepicker
              #periodDp="ngbDatepicker"
              formControlName="period"
            />
            <button type="button" class="btn btn-secondary" (click)="periodDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('period')!.invalid && (editForm.get('period')!.dirty || editForm.get('period')!.touched)) {
            <div>
              @if (editForm.get('period')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_employer" jhiTranslate="hrSolutionApp.nDA.employer">Employer</label>
          <select
            class="form-control"
            id="field_employer"
            data-cy="employer"
            name="employer"
            formControlName="employer"
            [compareWith]="compareEmployer"
          >
            @if (editForm.get(['employer'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (employerOption of employersSharedCollection; track $index) {
              <option [ngValue]="employerOption">{{ employerOption.lastName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['employer'])!.invalid && (editForm.get(['employer'])!.dirty || editForm.get(['employer'])!.touched)) {
          <div>
            @if (editForm.get(['employer'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_mediator" jhiTranslate="hrSolutionApp.nDA.mediator">Mediator</label>
          <select
            class="form-control"
            id="field_mediator"
            data-cy="mediator"
            name="mediator"
            formControlName="mediator"
            [compareWith]="compareRecruiter"
          >
            @if (editForm.get(['mediator'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (recruiterOption of recruitersSharedCollection; track $index) {
              <option [ngValue]="recruiterOption">{{ recruiterOption.lastName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['mediator'])!.invalid && (editForm.get(['mediator'])!.dirty || editForm.get(['mediator'])!.touched)) {
          <div>
            @if (editForm.get(['mediator'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_candidate" jhiTranslate="hrSolutionApp.nDA.candidate">Candidate</label>
          <select
            class="form-control"
            id="field_candidate"
            data-cy="candidate"
            name="candidate"
            formControlName="candidate"
            [compareWith]="compareCandidate"
          >
            @if (editForm.get(['candidate'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (candidateOption of candidatesSharedCollection; track $index) {
              <option [ngValue]="candidateOption">{{ candidateOption.lastName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['candidate'])!.invalid && (editForm.get(['candidate'])!.dirty || editForm.get(['candidate'])!.touched)) {
          <div>
            @if (editForm.get(['candidate'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
