<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (provider()) {
      <div>
        <h2 data-cy="providerDetailsHeading"><span jhiTranslate="hrSolutionApp.provider.detail.title">Provider</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ provider()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.provider.name">Name</span></dt>
          <dd>
            <span>{{ provider()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.provider.country">Country</span></dt>
          <dd>
            <span>{{ provider()!.country }}</span>
          </dd>
          <dt><span jhiTranslate="hrSolutionApp.provider.appAccount">App Account</span></dt>
          <dd>
            @for (appAccount of provider()!.appAccounts; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/app-account', appAccount.id, 'view']">{{ appAccount?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/provider', provider()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
